<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title><%= botName %></title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Chat con <%= botName %></h1>
<div id="chat">
  <div id="messages"></div>
  <div id="inputArea">
    <input type="text" id="input" placeholder="Escribe tu mensaje">
    <button id="send">Enviar</button>
  </div>
</div>
<script src="script.js"></script>
</body>
</html>