body {
  margin: 0;
  font-family: Arial;
  background: #0b141a;
}

.chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #202c33;
  padding: 15px;
  color: white;
  font-size: 18px;
}

.mensajes {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.mensaje {
  max-width: 70%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  animation: aparecer 0.3s ease;
}

.usuario {
  background: #005c4b;
  color: white;
  align-self: flex-end;
}

.bot {
  background: #202c33;
  color: white;
  align-self: flex-start;
}

.input-area {
  display: flex;
}

input {
  flex: 1;
  padding: 12px;
  border: none;
}

button {
  padding: 12px;
  background: #00a884;
  border: none;
  color: white;
}

@keyframes aparecer {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}